body {
  background: #2c2f36;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
main {

}
canvas {
  display: block;
  margin: 2em auto 0 auto;
  box-shadow: 0 8px 16px #0006;
  /* Add border-radius if you want rounded corners */
}
